root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{vue, yml,yaml}]
indent_size = 2

[*.blade.php]
indent_size = 2

[*.{js,scss}]
indent_size = 2
tab_width = 2

[/node_modules/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
